actions {
  http {}
}
connectors {
  http {}
}
gateway {
  mqttsn {
    broadcast = true
    enable = false
    enable_qos3 = true
    enable_stats = true
    gateway_id = 1
    idle_timeout = "30s"
    listeners {
      udp {
        default {
          bind = "1884"
          max_conn_rate = 1000
          max_connections = 1024000
        }
      }
    }
    mountpoint = ""
    predefined = []
  }
}
log {
  console {
    enable = true
    formatter = text
    level = info
    time_offset = system
    timestamp_format = auto
  }
  file {
    default {
      enable = true
      formatter = text
      level = all
      path = "/opt/emqx/log/emqx_bruno.log"
      rotation_count = 20
      rotation_size = "50MB"
      time_offset = system
      timestamp_format = auto
    }
  }
  throttling {
    time_window = "1m"
  }
}
rule_engine {
  ignore_sys_message = true
  jq_function_default_timeout = "10s"
  rules {}
}
topic_metrics = [
  {topic = topic}
]
